<div class="card bg-base-100 shadow-xl h-full">

    <div class="card-body">

        <h2 class="card-title">
            Escuela
        </h2>

        <div class="form-control">
            <input type="text" name="escuela" placeholder="Buscar por nombre de escuela"
                   class="input input-bordered w-full" value="San Sebastian" />
        </div>

        <div class="card-actions justify-end mt-2">
            <button class="btn btn-primary btn-sm">
                Buscar
            </button>
        </div>

    </div>

</div>