<div class="drawer-side is-drawer-close:overflow-visible">
  <label for="main-drawer" aria-label="close sidebar" class="drawer-overlay"></label>

  <div class="flex min-h-full flex-col items-start bg-base-200 is-drawer-close:w-14 is-drawer-open:w-64">
    <ul class="menu w-full grow">

      <!-- Escuelas -->
      <li>
        <a href="#" class="is-drawer-close:tooltip is-drawer-close:tooltip-right"
           data-tip="Escuelas">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-linejoin="round" stroke-linecap="round"
               stroke-width="2" fill="none" stroke="currentColor" class="my-1.5 inline-block size-4">
            <path d="M22 10v6M2 10l10-5 10 5-10 5z"/>
            <path d="M6 12v5c0 1.1 2.7 3 6 3s6-1.9 6-3v-5"/>
          </svg>
          <span class="is-drawer-close:hidden">Escuelas</span>
        </a>
      </li>

      <li class="my-1.5"><div class="divider my-0 opacity-40 is-drawer-close:mx-1"></div></li>


      <!-- Programación -->
      <li>
        <a href="#" class="is-drawer-close:tooltip is-drawer-close:tooltip-right"
           data-tip="Programación">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-linejoin="round" stroke-linecap="round"
               stroke-width="2" fill="none" stroke="currentColor" class="my-1.5 inline-block size-4">
            <rect x="3" y="4" width="18" height="18" rx="2"/>
            <line x1="16" y1="2" x2="16" y2="6"/>
            <line x1="8" y1="2" x2="8" y2="6"/>
            <line x1="3" y1="10" x2="21" y2="10"/>
          </svg>
          <span class="is-drawer-close:hidden">Programación</span>
        </a>
      </li>

      <li class="my-1.5"><div class="divider my-0 opacity-40 is-drawer-close:mx-1"></div></li>

      <!-- Liquidaciones -->
      <li>
        <a href="#" class="is-drawer-close:tooltip is-drawer-close:tooltip-right"
           data-tip="Liquidaciones">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-linejoin="round" stroke-linecap="round"
               stroke-width="2" fill="none" stroke="currentColor" class="my-1.5 inline-block size-4">
            <path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"/>
            <polyline points="14 2 14 8 20 8"/>
            <line x1="16" y1="13" x2="8" y2="13"/>
            <line x1="16" y1="17" x2="8" y2="17"/>
            <polyline points="10 9 9 9 8 9"/>
          </svg>
          <span class="is-drawer-close:hidden">Liquidaciones</span>
        </a>
      </li>

    </ul>
  </div>
</div>