{% extends "base.html" %}
{% load static %}
{% block title %}
    Encargados
{% endblock %}

{% block extra_head%}
    {{ form_media}}
{% endblock %}

{% block content %}
<main class="p-6 lg:p-8 space-y-8 max-w-7xl mx-auto">
    <div class="flex items-center gap-4">
        <div class="bg-primary text-primary-content reunded-2xl p-4 shadow-md shadow-primary/20">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.75" stroke="currentColor" class="w-8 h-8">
              <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0zM4.501 20.118a7.5 7.5 0 0114.998 0A17.933 17.933 0 0112 21.75c-2.676 0-5.216-.584-7.499-1.632z" />
            </svg>
        </div>
        <div>
            <h1 class="text-4xl font-bold">
                Encargados
            </h1>
                <p class="text-base-content/70">
                    Gestiona los Encargados de Cada Escuela
                </p>
        </div>
    </div>

    <!-- Botón Agregar encargado-->
     <div class="flex justify-start">
        <button
        hx-get="{% url 'encargado_nuevo' %}"
        hx-target ="#encargado-modal-wrapper"
        hx-swap="outerHTML"
        class="btn btn-primary gap-2"
        >
         <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
            </svg>
        Agregar Encargado</button>
     </div>

    <!-- Modal de creación, edición, cambio, confirmación -->
    <div id="encargado-modal-wrapper"></div>

    <!-- Búsqueda con Filtros  -->
    {% include "partials/encargado/_encargado_search.html" %}

    <!-- Listado de Encargados-->
    {% include "partials/encargado/_listado_encargados.html" %}
</main>

{% endblock %}
