<div class="card bg-base-100 shadow-xl">

    <div class="card-body">

        <h2 class="card-title">
            Convocatoria activa
        </h2>

        <h3 class="font-semibold text-lg">
            Convocatoria de ejemplo
        </h3>

        <p class="text-sm opacity-70">
            Descripción de convocatoria.
        </p>

        <div class="card-actions justify-end">
            <button class="btn btn-primary btn-sm">
                Ver detalle
            </button>
        </div>

    </div>

</div>