<div class="card bg-base-100 shadow-xl">

    <div class="card-body">

        <h2 class="card-title">
            Acciones rápidas
        </h2>

        <div class="space-y-2">

            <a class="btn btn-primary btn-block">
                Instituciones
            </a>

            <a class="btn btn-success btn-block">
                Liquidaciones
            </a>

            <a class="btn btn-secondary btn-block">
                Convocatorias
            </a>

        </div>

    </div>

</div>