<div class="card bg-base-100 shadow-xl h-full">

    <div class="card-body">

        <h2 class="card-title text-2xl">
            Acciones rápidas
        </h2>

        <p class="text-base-content/70">
            Accede rápidamente a los módulos principales.
        </p>

        <div class="space-y-3 mt-4">

            <a href="#" class="btn btn-primary btn-block">
                Instituciones
            </a>

            <a href="#" class="btn btn-success btn-block">
                Recibos Liquidados
            </a>

            <a href="#" class="btn btn-error btn-block">
                Convocatorias
            </a>

        </div>

    </div>

</div>