<div class="stats stats-vertical lg:stats-horizontal shadow w-full">

    <div class="stat">
        <div class="stat-title">
            Instituciones
        </div>

        <div class="stat-value text-primary">
            125
        </div>

        <div class="stat-desc">
            Escuelas registradas
        </div>
    </div>

    <div class="stat">
        <div class="stat-title">
            Recibos Liquidados
        </div>

        <div class="stat-value text-success">
            50
        </div>

        <div class="stat-desc">
            Completados
        </div>
    </div>

    <div class="stat">
        <div class="stat-title">
            Convocatorias
        </div>

        <div class="stat-value text-error">
            15
        </div>

        <div class="stat-desc">
            Pendientes hoy
        </div>
    </div>

</div>