{% load tailwind_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>{% block title %}GELICO{% endblock %}</title>
  {% tailwind_css %}
  <link rel="icon" type="image/svg+xml" href="{% static 'favicon.svg' %}">
  {% block extra_head %}{% endblock %}
</head>
<body class="min-h-screen bg-base-200 flex flex-col">

  {% include "partials/base/_navbar.html" %}
  {% include "partials/base/_navbar_mobile.html" %}
  {% include "partials/base/_messages.html" %}

  <main class="flex-1 container mx-auto px-6 py-8 pb-24 md:pb-8">
    {% block content %}{% endblock %}
  </main>

  {% include "partials/base/_footer.html" %}
  {% include "partials/base/_dock.html" %}

  {% block extra_scripts %}{% endblock %}
</body>
</html>