{% extends "base.html" %}

{% block title %}
Dashboard
{% endblock %}

{% block content %}
<main class="p-6 lg:p-8 space-y-6">

    <div>
        <h1 class="text-4xl font-bold">
            Dashboard
        </h1>

        <p class="text-base-content/70">
            Bienvenido de nuevo al sistema de liquidaciones.
        </p>
    </div>

    {% include "partials/home/_stats.html" %}

    <div class="grid grid-cols-1 xl:grid-cols-12 gap-6">

        <div class="xl:col-span-8">
            {% include "partials/home/_schedule.html" %}
        </div>

        <div class="xl:col-span-4">
            {% include "partials/home/_quick_actions.html" %}
        </div>

    </div>

    {% include "partials/home/_recent_receipts.html" %}

</main>
{% endblock %}